[Unit]
Description=Tiny Memex simulation software

[Service]
Type=simple
ExecStart=/home/pi/tiny-memex/src/run_simulator.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
